{% extends "base.html" %}
{% load static %}

{% block title %} Contact Details  {% endblock %}

{% block content %}
<div class="container">
<br><br>
<h5>Contact Details</h5>
    <table class="table table-sm">
       <tr><td>
       {{ object.first_name }} {{ object.middle_initial }} {{ object.last_name }}<br>
       {{ object.address1 }}
       {{ object.address2 }}<br>
       {{ object.city}}, {{ object.state }} {{ object.zipcode }}<br>
       </td></tr>
        <tr><td>Home Phone: <b>{{ object.home_phone }}</b><br>
            Mobile Phone: <b>{{ object.mobile_phone }}</b><br>
            Email: <b>{{ object.email }}</b><br>
            HP Username: <b>{{ object.username }}</b>
       </td></tr>
    </table>
<hr>

    <a class="btn btn-outline-success btn-sm" role="button" href="/home/contact_update/{{ object.id }}/">Edit Record</a>
    <a class="btn btn-success btn-sm" role="button" href="/home/startapp/">Accept and Continue</a>
    <!--
    <a href="/home/contact_update/{{ object.id }}/"><b>[Edit Record]</b></a>
    <a href="/home/startapp/"><b>[Accept and Continue]</b></a>
    -->
</div>
{% endblock %}
