{% extends "base.html" %}
{% load static %}

{% block title %} Frequently Asked Questions {% endblock %}

{% block content %}
    <br>
    <h5>Frequently Asked Questions</h5><br>
    <div class = "Container">
        <dl>
            <dt>Q. How quickly will my application be processed?</dt>
            <dd>A. Completed applications that provided all required documentation will be reviewed and you will be contacted as soon as possible. Incomplete applications are not eligible for assistance. </dd>
            <dt>Q. Am I guaranteed assistance once I apply?</dt>
            <dd>A. We cannot give you a definite yes or no until we have all the documents, but we do our best to help everyone in need, within our capacity. If we cannot help, we will do our best to share information about other resources.</dd>
            <dt>Q. How do I know if my application was submitted and is in line for review?</dt>
            <dd>A. If you believe you may have submitted your application but are unsure, you can return to the system to review the status of your application. You can get back to the application from the website Stvincentdepaul.net/programs, you will then be prompted for the username and password you set up when you first began your application. If, when you sign in, you do not see Application Received, your application has not been submitted. If the status shows "Under Review" your application has been submitted for review. Once an application is submitted you should receive a message stating it has been submitted.</dd>
            <dt>Q. How do I check on the status of my application?</dt>
            <dd>A. You can check the status of your application at any time by logging back into your account.  You will be at the dashboard page after you login to the application.  You can get back to the application from the website Stvincentdepaul.net/programs. </dd>
        </dl>
        <p><b>Q. What supporting documentation will I need to provide for the rental assistance?</b></p>
        <p><b>A. The following supporting documentation is required to be submitted electronically. Each document must be uploaded separately.</b></p>
        <ol>
             <li>ID (Driver's license, State issued ID, Social Security Card, Voter Registration, ID card from health benefits or social service program) – Only one is required</li>
             <li>Copy of your current unaltered lease (all pages) with the applicant's name, monthly rent, and signatures of renter and landlord or mortgage statement with applicant’s name</li>
             <li>Documentation proving COVID-19 related financial hardship (See next question for examples)</li>
             <li>Utility (if requesting rent and utility assistance) electric, water or gas bill with most recent amount due.</li>
             <li>30-day gross household income (paystubs or pay statements)</li>
        </ol>
        <dl>
            <dt>Q. How do I prove I have a COVID-19 related hardship?</dt>
            <dd>A. Several funding programs are intended for residents who are unable to pay their rent or mortgage because they are experiencing a COVID-19 related financial hardship. This documentation is proof that you, the applicant, are experiencing this hardship and are unable to fulfill your obligation to pay for your housing.</dd>
              <dd>If you are no longer employed, you may upload one of the following:<br>
                <ol>
                    <li>Termination or furlough letter from your former employer</li>
                    <li>Proof of your Unemployment Benefits application submittal</li>
                </ol>
              </dd>
            <dd>If you are still working, but have experienced a reduction in income, you may upload one of the following:
                <ol>
                    <li>Employer Letter stating change in hours, wage reduction or Notice of Furlough</li>
                    <li>Paystubs or pay statements from enough pay cycles to show a reduction in income</li>
                </ol>
            </dd>
            <dd>If your hardship is for health reasons, you may upload one of the following:
                a. FMLA paperwork</dd>
            <dd>Other hardship documentation
                <ol>
                    <li>Documentation of childcare issues</li>
                    <li>Documentation of unexpected expenses</li>
                </ol>
            </dd>

            <dt>Q.  What does 30-day gross household income mean?</dt>
            <dd>A. Gross income (gross wages) is the amount your employer pays you before taking out taxes and deductions.  Gross income on a pay stub or pay statement will be the total for regular income and any overtime income. Total household gross income is the total amount for all wage earners living in the household.  30-day gross income is the sum of the income from all wages received in the last 30 days.</dd>
            <dt>Q. Why is the application asking for citizenship documentation?</dt>
            <dd>A. Proof of citizenship is NOT required to apply. Being a citizen is not necessary to receive benefits, however it increases the number of grants SVdP can request funds from.  If you are a citizen please submit one of the following: Birth Certificate; Certificate of Naturalization or Citizenship; SSI or SSDI Award Letter; Tribal Enrollment or American Indian Card; US Passport; US Citizen Identification Card</dd>
            <dt>Q: What if my Landlord didn’t give me a lease?</dt>
            <dd>A. A lease agreement is required for all rental assistance.  The lease must have landlord and renter signatures.</dd>
            <dt>Q. What if I don't have access to a scanner in order to submit the required documentation?</dt>
            <dd>A. Using your smartphone, you may take pictures of the documents and upload the documents to the application.  Photos that are clear and easy to read will be accepted.</dd>
            <dd>Some Leasing Offices and Staples locations may offer complimentary scanning services for COVID-19 related issues. Inform the front desk assistance station staff or manager that you are applying for a state assisted program and ask if their location offers complimentary scanning services.</dd>
            <dt>Q. What if I don’t have a computer?</dt>
            <dd>A. You can use your mobile Smartphone camera or storage to upload documents.  You can save scanned documents to your phone as a PDF or JPG file.  If you have PDFs of paystubs, etc., they can be uploaded.  When you click on a file attachment, you will see files on your phone.  Make sure the image is readable.</dd>
            <dt>Q. What do these status explanations mean?</dt>
            <dd>A. The following are application status and explanation:</dd>
            <dd>
                <ol>
                    <li>Account Created – Only an account has been created not the application.  The next step is to start the application. </li>
                    <li>Submitted – All required information has been submitted.</li>
                    <li>Under Review – The application has been submitted and is being reviewed to confirm all information has been submitted and documentation meets the criteria.</li>
                    <li>Incomplete Documents – Some required documents are not readable or did not meet the criteria or have not been properly submitted.</li>
                    <li>Ineligible – a final decision has been made.  The applicant does not meet the program eligibility criteria.  Assistance has been declined.</li>
                    <li>Expired - a final decision has been made. The application was rejected due to incorrect information or documentation.   Missing documents were not provided in a timely manner.  </li>
                    <li>Review Required – Your application letter is ready for you to review and approve.</li>
                    <li>Approved – the application has been determined eligible for assistance.</li>
                </ol>
            </dd>
            <dt>Q. Do I have to separate my documents.</dt>
            <dd>A. Yes, each type of supporting document must be uploaded separately. All pages of the lease are considered one document.  </dd>
            <dt>Q. How do I request more than one month of assistance?</dt>
            <dd>A. Log back into your application and check to make sure your application is complete. If you discover something is missing, upload it as soon as possible.  Maricopa County offers other resources for assistance. Please call 211 for more information.</dd>

        </dl>

    </div>
    <div><br><br></div>
{% endblock %}