{% extends "base.html" %}
{% load static %}

{% block title %} Start Application  {% endblock %}

{% block content %}
<br>
<h4>Start Application Process</h4>
<hr>
<p>Complete the following steps to complete the application:<br></p>
<h5>Step 1: Complete your contact information - <a href="../../home/contact_create">[Click Here]</a></h5>
<br>
<h5>Step 2: Complete the Application Request Information <a href="../../home/hpapp_create">[Click Here]</a></h5>
<br>
<h5>Step 3: If you are applying for Rent/Mortgage Assistance, <br>Complete the Housing Information to include Landlord or Mortgage Contacts<br>
    <a href="../../home/housing_create">[Click Here]</a></h5>
<br>
<h5>Step 4: Complete the Utilities Assistance Section  <a href="../../home/utils_create">[Click Here]</a></h5>
<br>
<h5>Step 5. Submit your documentation</h5>
(Drivers License or Identification, Lease, Utility Bills, COVID-19 Crisis Documentation, etc.)<br>
<br>
<h5>Step 6. Disclaimer: The information is correct and I agree to the terms.<br></h5>
<a href="../../home/utils_create">[Submit Application]</a>
<br><br>


{% endblock %}