{% extends "base.html" %}
{% load static %}

{% block title %} Utilities Information  {% endblock %}

{% block content %}
<br>
<h4>Utilities Information </h4>
<hr>
<div class="container">
    <div class="text-primary">    
       <p>utility_provider:</p><p style="padding-left:100px; color:black;">{{ object.utility_provider }}</p><br>
       <p>utility_type    :</p><p style="padding-left:100px; color:black;">{{ object.utility_type }} </p><br>
       <p>account_no      :</p><p style="padding-left:100px; color:black;">{{ object.account_no }}</p><br>
       <p>name_on_acct    :</p><p style="padding-left:100px; color:black;">{{ object.name_on_acct }}</p><br>
       <p>total_amount_due:</p><p style="padding-left:100px; color:black;">{{ object.total_amount_due }}</p><br>
       <p>Payment Due Date:</p><p style="padding-left:100px; color:black;">{{ object.payment_due_date }}</p><br>
    </div>
    <a class="btn btn-primary btn-sm" role="button"  href="/home/utils_update/{{ object.id }}">Edit Record</a>
    <a class="btn btn-success btn-sm" role="button"  href="/home/startapp/">Accept and Continue</a>
</div>
<br><br>
{% endblock %}